venv/
__pycache__/
*.pyc
.env
data/raw/*.csv
data/processed/*.csv
!data/raw/.gitkeep
!data/processed/.gitkeep
mlruns/
mlflow.db
*.pkl
*.joblib
*.xgb
models/
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
*.log
